<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Nutzer anlegen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Rolle</ion-label>
      <ion-select [(ngModel)]="rolle">
        <ion-option value="admin">Admin</ion-option>
        <ion-option value="kassierer">Kassierer</ion-option>
        <ion-option value="bar">Bar</ion-option>
        <ion-option value="küche">Küche</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block round (click)="addUser()">Nutzer anlegen</button>
</ion-content>
