<ion-header>
  <ion-navbar>
    <ion-title>{{data.currentUser.email}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block (click)="makeCode()">Zeige Barcode</button>
  <ion-card>
    <ion-card-header>Bars in der Nähe</ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let bar of data.barList">
        <ion-item>
          <label>{{bar.name}} in {{bar.adresse.stadt}}</label>
          <ion-chip *ngIf="bar.entfernung != ''" color="primary" item-right>
            <ion-icon name="pin"></ion-icon>
            <ion-label>{{returnToFixed(bar.entfernung)}} km</ion-label>
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
