<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="login">
  <form class="list" [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" formControlName="username" [(ngModel)]="username"
                 (ngModelChange)="getFilteredEmailAddresses($event)"></ion-input>
    </ion-item>
    <div *ngIf="username != null && username != '' && showList">
      <ion-list *ngFor="let item of filterdEmailAddresses">
        <ion-item (click)="setUserName(item)">{{item}}</ion-item>
      </ion-list>
    </div>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" formControlName="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <button ion-button block round type="submit" block>Login</button>
  </form>
</ion-content>
