<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Produkte" tabIcon="home" *ngIf="checkUserPermission('produkte')"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Bestellungen" tabIcon="md-add-circle" *ngIf="checkUserPermission('bestellungen')"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Küche/Bar" tabIcon="md-beer" *ngIf="checkUserPermission('küchebar')"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Admin" tabIcon="md-build" *ngIf="checkUserPermission('admin')"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Kunde" tabIcon="md-contact" *ngIf="checkUserPermission('kunde')"></ion-tab>
</ion-tabs>
