<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Getränk Bearbeiten</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Getränke-Name</ion-label>
      <ion-input type="text" [(ngModel)]="getraenkName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Preis</ion-label>
      <ion-input type="text" [(ngModel)]="getraenkPreis"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block round (click)="writeNewGetraenk()">Bearbeiten</button>
</ion-content>
