<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addSchicht()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Schichten Verwalten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let schicht of data.schichtenList">
    <ion-list-header *ngIf="getNextHEader(schicht)">
      {{nextHeader}}
    </ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <b>{{schicht.user}}</b>
        <table style="width:100%">
          <tr>
            <td>Von:</td>
            <td>{{schicht.startDate}} um {{schicht.startTime}}</td>
          </tr>
          <tr>
            <td>Bis:</td>
            <td>{{schicht.endDate}} um {{schicht.endTime}}</td>
          </tr>
        </table>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="changeSchicht(schicht)">
          <ion-icon name="md-brush"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="left">
        <button ion-button color="danger" (click)="data.deleteSchicht(schicht)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
