<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Tabak Hinzufügen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Tabak-Sorte</ion-label>
      <ion-input type="text" [(ngModel)]="tobaccoName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Beschreibung</ion-label>
      <ion-input type="text" [(ngModel)]="tobaccoDecription"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Preis</ion-label>
      <ion-input type="text" [(ngModel)]="tabaccoPreis"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Hashtags</ion-label>
      <ion-input type="text" [(ngModel)]="tobaccoHashtag"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Verfügbar</ion-label>
      <ion-toggle [(ngModel)]="tobaccoAvailable"></ion-toggle>
    </ion-item>
  </ion-list>

  <button ion-button block round (click)="writeNewTobacco()">Hinzufügen</button>
</ion-content>
