<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>
        <div class="center sliding">Input</div>
        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="input" class="page">
        <div class="page-content">
            <div class="content-block">
                <form id="my-form" class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Name</div>
                                    <div class="item-input">
                                        <input type="text" name="name" placeholder="Your name">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>

                <div class="content-block">
                    <a href="#" class="button" id="form-to-data">Get Form Data</a>
                </div>
            </div>
        </div>
    </div>
</div>