<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Berechtiungen anpassen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let user of data.userList">
    <ion-item-sliding>
      <ion-item *ngIf="data.currentUser.email != user.email && user.rolle != 'gesperrt'">
        {{user.email}}
      </ion-item>
      <ion-item *ngIf="data.currentUser.email != user.email && user.rolle == 'gesperrt'" style="color: #e93a3a">
        {{user.email}}
      </ion-item>
      <ion-item *ngIf="data.currentUser.email==user.email" style="color: #8c8c8c">
        {{user.email}}
      </ion-item>

      <ion-item-options side="left" *ngIf="data.currentUser.email != user.email">
        <button ion-button color="danger" (click)="deleteUser(user)">
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right" *ngIf="data.currentUser.email != user.email">
        <button ion-button color="primary" (click)="changeRole(user)">
          <ion-icon name="md-brush"></ion-icon>
        </button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>
