<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>BestellungsAufnahme</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label fixed>Tisch-Nr: {{tisch.publicID}}</ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-9>
            Shisha
          </ion-col>
          <ion-col col-3>
            <ion-buttons end>
              <button ion-button clear color="dark" (click)="changeAdvancedTobaccoSearchMode()"
                      *ngIf="!advanedTobaccoSearchActivated" style="font-size: 33px">
                <ion-icon name="md-glasses"></ion-icon>
              </button>
              <button ion-button clear (click)="changeAdvancedTobaccoSearchMode()" *ngIf="advanedTobaccoSearchActivated"
                      style="font-size: 33px">
                <ion-icon name="md-glasses"></ion-icon>
              </button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar (ionInput)="getFilteredTobaccos($event)" [(ngModel)]="searchStringTobacco"></ion-searchbar>
      <ion-list *ngFor="let item of filteredTobaccoList">
        <ion-grid *ngIf="searchStringTobacco != ''">
          <ion-row>
            <ion-col col-12>
              <ion-item-sliding>


                <button ion-item (click)="addBestellung(item, 'shisha', null)">
                  <div *ngIf="!item.visible" style="color: #e93a3a">
                    {{item.name}}
                  </div>
                  <div *ngIf="item.visible">
                    {{item.name}}
                  </div>
                </button>

                <ion-item-options side="left">
                  <button ion-button (click)="addComment(item, 'shisha')">
                    <ion-icon name="md-star"></ion-icon>
                  </button>
                </ion-item-options>


                <ion-item-options side="right">
                  <button ion-button (click)="showInformation(item)">
                    <ion-icon name="md-information-circle"></ion-icon>
                  </button>
                </ion-item-options>

              </ion-item-sliding>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Getränke
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar (ionInput)="getFilteredDrinks($event)" [(ngModel)]="searchStringDrink"></ion-searchbar>
      <ion-list *ngFor="let item of filteredDrinkList">
        <ion-item-sliding>

          <button ion-item (click)="addBestellung(item, 'getraenk', null)" *ngIf="searchStringDrink != ''">
            {{item.name}}
          </button>

          <ion-item-options side="left">
            <button ion-button (click)="addComment(item, 'getraenk')">
              <ion-icon name="md-star"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Speisen
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar (ionInput)="getFilteredSepisen($event)" [(ngModel)]="searchStringSpeise"></ion-searchbar>
      <ion-list *ngFor="let item of filteredSpeiseList">
        <ion-item-sliding>
          <button ion-item (click)="addBestellung(item, 'speise', null)" *ngIf="searchStringSpeise != ''">
            {{item.name}}
          </button>
          <ion-item-options side="left">
            <button ion-button (click)="addComment(item, 'speise')">
              <ion-icon name="md-star"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Zusammenfassung
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let item of bestellungsListe">
        <ion-grid>
          <ion-row>
            <ion-col col-11>
              <ion-item *ngIf="item.typ == 'shisha'" style="background-color: #c7eed0">
                {{item.name}}
                <ion-badge item-right>{{item.anzahl}}</ion-badge>
                <ion-icon name="md-water" item-right *ngIf="item.typ == 'shisha'"></ion-icon>
              </ion-item>

              <ion-item *ngIf="item.typ == 'getraenk'" style="background-color: #b9d0ee">
                {{item.name}}
                <ion-badge item-right>{{item.anzahl}}</ion-badge>
                <ion-icon name="md-wine" item-right *ngIf="item.typ == 'getraenk'"></ion-icon>
              </ion-item>

              <ion-item *ngIf="item.typ == 'speise'" style="background-color: #eebba8">
                {{item.name}}
                <ion-badge item-right>{{item.anzahl}}</ion-badge>
                <ion-icon name="md-pizza" item-right *ngIf="item.typ == 'speise'"></ion-icon>
              </ion-item>
            </ion-col>
            <ion-col col-1>
              <button ion-button block (click)="deletePosten(item)">
                <ion-icon name="md-trash"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-list>


    </ion-card-content>
  </ion-card>

  <button ion-button block round (click)="createBestellung()">Bestellung aufnehmen</button>

</ion-content>
