<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addTisch()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Tische verwalten</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let item of data.tischList">
    <ion-item *ngIf="item.verwendbar">
      Tisch {{item.publicID}}
      <button ion-button item-right (click)="aendereTischstatus(item)">
        <ion-icon name="md-build"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="!item.verwendbar" style="color: #e93a3a">
      Tisch {{item.publicID}}
      <button ion-button item-right (click)="aendereTischstatus(item)">
        <ion-icon name="md-build"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
