<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Schicht {{header}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Nutzer</h2>
  <ion-select [(ngModel)]="user">
    <ion-option *ngFor="let user of data.userList" value="{{user.email}}">{{user.email}}</ion-option>
  </ion-select>
  <h2>Start</h2>
  <ion-item>
    <ion-label>Uhrzeit</ion-label>
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="timeStart"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Datum</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="dateStart"></ion-datetime>
  </ion-item>
  <h2>Ende</h2>
  <ion-item>
    <ion-label>Uhrzeit</ion-label>
    <ion-datetime displayFormat="HH:mm" pickerFormat="HH mm" [(ngModel)]="timeEnd"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Datum</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="dateEnd"></ion-datetime>
  </ion-item>
  <button ion-button (click)="addSchicht()">{{header.toUpperCase()}}</button>
</ion-content>
