<ion-header>

  <ion-navbar>
    <ion-title>kellnerAbrechnung</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngFor="let kellner of data.userList">
    <button ion-item (click)="abrechnenKellner(kellner.email)">
      {{kellner.email}}
    </button>
  </ion-list>
</ion-content>
