<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Bestellungs Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h1>Tisch {{item.tischNr}}</h1>
  <div *ngIf="!einzelpostenAbrechnungAktiv">
    <h2>Shisha</h2>
    <ion-list *ngFor="let kopf of item.einzelposten">
      <ion-item-sliding *ngIf="kopf.typ == 'shisha' && !kopf.abgerechnet">
        <ion-item>
          {{kopf.name}}
          <ion-badge item-right>{{kopf.anzahl - kopf.anzahlBezahlt}}</ion-badge>
        </ion-item>
        <ion-item-options side="right"
                          *ngIf="data.currentUser.rolle == 'admin' || data.currentUser.rolle == 'kassierer'">
          <button ion-button color="danger" (click)="deletePosten(kopf)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <h2>Getränke</h2>
    <ion-list *ngFor="let drink of item.einzelposten">
      <ion-item-sliding *ngIf="drink.typ == 'getraenk' && !drink.abgerechnet">
        <ion-item>
          {{drink.name}}
          <ion-badge item-right>{{drink.anzahl - drink.anzahlBezahlt}}</ion-badge>
        </ion-item>
        <ion-item-options side="right"
                          *ngIf="data.currentUser.rolle == 'admin' || data.currentUser.rolle == 'kassierer'">
          <button ion-button color="danger" (click)="deletePosten(drink)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <h2>Speisen</h2>
    <ion-list *ngFor="let speise of item.einzelposten">
      <ion-item-sliding *ngIf="speise.typ == 'speise' && !speise.abgerechnet">
        <ion-item>
          {{speise.name}}
          <ion-badge item-right>{{speise.anzahl - speise.anzahlBezahlt}}</ion-badge>
        </ion-item>
        <ion-item-options side="right"
                          *ngIf="data.currentUser.rolle == 'admin' || data.currentUser.rolle == 'kassierer'">
          <button ion-button color="danger" (click)="deletePosten(speise)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <h2>Treuekarten</h2>
    <ion-list *ngFor="let karte of item.einzelposten">
      <ion-item-sliding *ngIf="karte.typ == 'treuekarte' && !karte.abgerechnet">
        <ion-item>
          {{karte.name}}
        </ion-item>
        <ion-item-options side="right"
                          *ngIf="data.currentUser.rolle == 'admin' || data.currentUser.rolle == 'kassierer'">
          <button ion-button color="danger" (click)="deletePosten(karte)">
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button ion-button block round (click)="addBestellung()">Hinzufügen</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block round (click)="tischUmbuchen()">Tisch wechseln</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block round (click)="abrechnenGesamt(item.einzelposten)">Abrechnen</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block round (click)="abrechnenGesamtSplit(item.einzelposten)">Abrechnen Split</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block round (click)="changeEinzelpostenabrechnung()">Einzeln Zahlen</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block round (click)="addAlteTreueKarte()">Treuekarte einlösen</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <button ion-button block round (click)="addNeueTreuekarte()">QR-Code</button>
  </div>

  <div *ngIf="einzelpostenAbrechnungAktiv">
    <h2>Shisha</h2>
    <ion-list *ngFor="let kopf of einzelPostenListe">
      <button ion-item *ngIf="kopf.typ == 'shisha' && !kopf.abgerechnet" (click)="addToEinzelpostenZuBezahlen(kopf)">
        {{kopf.name}}
        <ion-badge item-right>{{kopf.anzahl - kopf.anzahlBezahlt}}</ion-badge>
      </button>
    </ion-list>

    <h2>Getränke</h2>
    <ion-list *ngFor="let drink of einzelPostenListe">
      <button ion-item *ngIf="drink.typ == 'getraenk' && !drink.abgerechnet"
              (click)="addToEinzelpostenZuBezahlen(drink)">
        {{drink.name}}
        <ion-badge item-right>{{drink.anzahl - drink.anzahlBezahlt}}</ion-badge>
      </button>
    </ion-list>

    <h2>Speisen</h2>
    <ion-list *ngFor="let speise of einzelPostenListe">
      <button ion-item *ngIf="speise.typ == 'speise' && !speise.abgerechnet"
              (click)="addToEinzelpostenZuBezahlen(speise)">
        {{speise.name}}
        <ion-badge item-right>{{speise.anzahl - speise.anzahlBezahlt}}</ion-badge>
      </button>
    </ion-list>

    <h2>Treuekarten</h2>
    <ion-list *ngFor="let karte of item.einzelposten">
      <button ion-item *ngIf="karte.typ == 'treuekarte' && !karte.abgerechnet"
              (click)="addToEinzelpostenZuBezahlen(karte)">
        {{karte.name}}
      </button>
    </ion-list>

    <h2>Abzurechnen ist:</h2>
    <ion-list *ngFor="let posten of einzelPostenZuBezahlen">
      <ion-item>
        {{posten.name}}
        <ion-badge item-right>{{posten.anzahl}}</ion-badge>
      </ion-item>
    </ion-list>

    <button ion-button block round (click)="abrechnenZwischenBeleg()">Abrechnen</button>
    <button ion-button block round (click)="abrechnenZwischenBelegSplit()">Abrechnen Split</button>
  </div>

</ion-content>
