<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Küchenansicht
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let item of data.bestellungsListeOffenChronologisch">
    <ion-list-header *ngIf="!item.bearbeitet">
      <button ion-button color="dark" block (click)="editAll(item)">Bestellung von Tisch {{item.tischNr}}</button>
    </ion-list-header>
    <ion-list *ngFor="let bestellung of item.einzelposten">
      <ion-item-sliding *ngIf="!bestellung.bearbeitet && isRelevantForUser(bestellung)">
        <ion-item *ngIf="bestellung.typ != 'shisha'">
          {{bestellung.name}}
          <label style="color: #fc000b;" *ngIf="bestellung.kommentar != null"><br/>{{bestellung.kommentar}}</label>
          <ion-badge item-right>{{bestellung.anzahl-bestellung.anzahlBearbeitet}}</ion-badge>
        </ion-item>

        <button ion-item *ngIf="bestellung.typ == 'shisha'" (click)="setTabakEmpty(bestellung)">
          {{bestellung.name}}
          <label style="color: #fc000b;" *ngIf="bestellung.kommentar != null"><br/>{{bestellung.kommentar}}</label>
          <ion-badge item-right>{{bestellung.anzahl-bestellung.anzahlBearbeitet}}</ion-badge>
        </button>

        <ion-item-options side="left">
          <button ion-button (click)="setBestellungPrepared(item, bestellung)">
            <ion-icon name="md-checkbox"></ion-icon>
          </button>
        </ion-item-options>

        <ion-item-options side="right">
          <button ion-button (click)="setBestellungMinusOne(item, bestellung)">
            -1
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-list>
</ion-content>
