<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{tobacco.name}}
      </ion-card-title>
      <p>
        {{tobacco.description}}<br/>
      </p>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            Hashtags
          </ion-card-title>
          <ion-chip color="primary" *ngFor="let hashtag of tobacco.hashtags">
            <ion-label>{{hashtag}}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
