<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addBestellung()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Bestellungen
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let item of data.bestellungsListeOffenAlphabetisch">
    <button ion-item (click)="showBestellungsDetails(item)" *ngIf="!item.bezahlt">
      Bestellung von Tisch {{item.tischNr}}
    </button>
  </ion-list>
</ion-content>
