<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Speise Hinzufügen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Name der Speise</ion-label>
      <ion-input type="text" [(ngModel)]="speiseName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Preis</ion-label>
      <ion-input type="text" [(ngModel)]="speisePreis"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block round (click)="writeNewSpeise()">Hinzufügen</button>
</ion-content>
