<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>StornoPage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let storno of data.stornoList">
    <ion-list-header *ngIf="isNextHeader(storno)">
      {{headerDateString}}
    </ion-list-header>
    <button ion-item (click)="showStornoDetails(storno)">{{storno.name}}</button>
  </ion-list>
</ion-content>
