<!--
  Generated template for the UpdateSpeisePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Speise Bearbeiten</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Name der Speise</ion-label>
      <ion-input type="text" [(ngModel)]="speiseName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Preis</ion-label>
      <ion-input type="text" [(ngModel)]="speisePreis"></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block round (click)="writeNewSpeise()">Bearbeiten</button>
</ion-content>
