<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-title>Tagesumsatz</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="dark">Gesamt</ion-label>
    <ion-label color="dark" style="text-align: right">{{tagesBestellungenGesamt}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Bezahlt</ion-label>
    <ion-label color="secondary" style="text-align: right">{{tagesBestellungenBezahlt}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Nicht Bezahlt</ion-label>
    <ion-label color="danger" style="text-align: right">{{tagesBestellungenNichtBezahlt}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="dark">Treuekarten</ion-label>
    <ion-label color="dark" style="text-align: right">{{eingeloesteTreueKarten}}</ion-label>
  </ion-item>
</ion-content>
