<ion-header>

  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Admin</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <button ion-button block round (click)="addUser()">Benutzer anlegen</button>
  <button ion-button block round (click)="editAccess()">Benutzer verwalten</button>
  <button ion-button block round (click)="addTable()">Tische verwalten</button>
  <button ion-button block round (click)="showSchichten()">Schichten verwalten</button>
  <button ion-button block round (click)="showStornos()">Stornos anzeigen</button>
  <button ion-button block round (click)="showTagesUmsatz()">Tagesumsatz</button>
  <button ion-button block round (click)="showKellnerAbrechnungsPage()">Kellner Abrechnen</button>
</ion-content>
