<ion-header>
  <ion-navbar>
    <ion-title>
      {{data.currentUser.email}}
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Produktverwaltung</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-10><h1>Shisha</h1></ion-col>
        <ion-col col-1>
          <button ion-button icon-only (click)="addTobacco()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-list *ngFor="let item of data.tobaccoList">
        <ion-item-sliding>
          <ion-item>
            <h1 style="color: #e93a3a" *ngIf="!item.visible">{{item.name}}</h1>
            <h1 *ngIf="item.visible">{{item.name}}</h1>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button item-right color="danger" (click)="deleteTobacco(item)">
              <ion-icon name="md-trash"></ion-icon>
            </button>
            <button ion-button item-right color="dark" (click)="showTobaccoDetails(item)">
              <ion-icon name="md-information-circle"></ion-icon>
            </button>
            <button ion-button item-right (click)="changeTobacco(item)">
              <ion-icon name="md-build"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-10><h1>Getränke</h1></ion-col>
        <ion-col col-1>
          <button ion-button icon-only (click)="addGetraenk()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-list *ngFor="let item of data.getraenkeList">
        <ion-item-sliding>
          <ion-item>
            <h1>{{item.name}}</h1>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button item-right (click)="changeGetraenk(item)">
              <ion-icon name="md-build"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-10><h1>Speisen</h1></ion-col>
        <ion-col col-1>
          <button ion-button icon-only (click)="addSpeise()">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-content>
      <ion-list *ngFor="let item of data.speiseList">
        <ion-item-sliding>
          <ion-item>
            <h1>{{item.name}}</h1>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button item-right (click)="changeSpeise(item)">
              <ion-icon name="md-build"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
